<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_void"
        android:label="Void Launcher"
        android:theme="@style/Theme.VoidLauncher">
        <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="subject_segment" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".PrivateGalleryActivity" android:exported="false" android:label="Void Private Gallery" />
        <activity android:name=".PrivateBrowserActivity" android:exported="false" android:label="Void Private Browser" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.privatefiles"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/private_file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
